services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.3
    container_name: jellyfin
    user: 1187:65537 # host's `media` <-> container's 65537
    read_only: true
    restart: unless-stopped
    volumes:
      - ${SLOW_VOLUMES:?}/media-server/jellyfin/config:/config
      - ${FAST_VOLUMES:?}/media-server/jellyfin/cache:/cache
      - ${STORAGE_DIR:?}/media-server/media:/media:ro
    networks:
      prom-jellyfin:
        ipv4_address: 172.21.8.3
      net-ext-media:
        ipv4_address: 172.18.7.4
      jellyfin-out:
        ipv4_address: 172.18.7.130
    tmpfs:
      - /tmp
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "Jellyfin"
      homepage.icon: "jellyfin.png"
      homepage.description: "Jellyfin is a free software media system that puts you in control of managing and streaming your media."

  radarr:
    image: ghcr.io/hotio/radarr:release-6.0.4.10291
    container_name: radarr
    # user: 2187:65537 # set below
    # read_only: true # doesn't work otherwise
    restart: unless-stopped
    depends_on:
      - prowlarr
      - qbittorrent
    environment:
      PUID: "2187"
      PGID: "65537" # host's `media` <-> container's 65537
      UMASK: "002"
      TZ: "Europe/Zurich"
    volumes:
      - ${SLOW_VOLUMES:?}/media-server/radarr/config:/config
      - ${STORAGE_DIR:?}/media-server:/data
    networks:
      net-int-media:
        ipv4_address: 172.19.8.4
      radarr-out:
        ipv4_address: 172.19.8.130
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "Radarr"
      homepage.icon: "radarr.png"
      homepage.description: "Radarr is a movie collection manager for Usenet and BitTorrent users."

  prowlarr:
    image: ghcr.io/hotio/prowlarr:release-2.3.0.5236
    container_name: prowlarr
    # user: 3187:3187 # set below
    # read_only: true # doesn't work otherwise
    restart: unless-stopped
    depends_on:
      - flaresolverr
    environment:
      PUID: "3187"
      PGID: "3187"
      TZ: "Europe/Zurich"
    volumes:
      - ${SLOW_VOLUMES:?}/media-server/prowlarr/config:/config
    networks:
      net-int-media:
        ipv4_address: 172.19.8.5
      prowlarr-flaresolverr:
        ipv4_address: 172.19.8.18
      prowlarr-out:
        ipv4_address: 172.19.8.134
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "Prowlarr"
      homepage.icon: "prowlarr.png"
      homepage.description: "Prowlarr is a indexer manager/proxy for Usenet and BitTorrent indexers."

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:v3.4.6
    container_name: flaresolverr
    # user: 4187:4187 # doesn't work otherwise
    # read_only: true # doesn't work otherwise
    restart: unless-stopped
    environment:
      TZ: "Europe/Zurich"
    networks:
      prowlarr-flaresolverr:
        ipv4_address: 172.19.8.19
      flaresolverr-out:
        ipv4_address: 172.19.8.138
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "FlareSolverr"
      homepage.icon: "flaresolverr.png"
      homepage.description: "FlareSolverr is a proxy server to bypass Cloudflare's anti-bot page using headless browsers."

  qbittorrent:
    image: ghcr.io/hotio/qbittorrent:release-5.1.4
    container_name: qbittorrent
    # user: 5187:65537 # set below
    # read_only: true # doesn't work otherwise
    restart: unless-stopped
    environment:
      PUID: "5187"
      PGID: "65537" # host's `media` <-> container's 65537
      UMASK: "002"
      TZ: "Europe/Zurich"
    volumes:
      - ${SLOW_VOLUMES:?}/media-server/qbittorrent/config:/config
      - ${STORAGE_DIR:?}/media-server/torrents:/data/torrents
    networks:
      net-int-media:
        ipv4_address: 172.19.8.6
      qbittorrent-out:
        ipv4_address: 172.19.8.142
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "qBittorrent"
      homepage.icon: "qbittorrent.png"
      homepage.description: "qBittorrent is a free and reliable P2P BitTorrent client."

networks:
  prom-jellyfin:
    external: true
  net-ext-media:
    external: true
  net-int-media:
    external: true
  prowlarr-flaresolverr:
    internal: true
    ipam:
      config:
        - subnet: 172.19.8.16/29
          gateway: 172.19.8.17
  jellyfin-out:
    ipam:
      config:
        - subnet: 172.18.7.128/30
          gateway: 172.18.7.129
  radarr-out:
    ipam:
      config:
        - subnet: 172.19.8.128/30
          gateway: 172.19.8.129
  prowlarr-out:
    ipam:
      config:
        - subnet: 172.19.8.132/30
          gateway: 172.19.8.133
  flaresolverr-out:
    ipam:
      config:
        - subnet: 172.19.8.136/30
          gateway: 172.19.8.137
  qbittorrent-out:
    ipam:
      config:
        - subnet: 172.19.8.140/30
          gateway: 172.19.8.141
