services:
  ext-postgresql:
    image: docker.io/library/postgres:18-alpine
    container_name: media-ext-postgresql
    user: 11187:11187
    read_only: true
    restart: unless-stopped
    env_file:
      - ${SECRETS_DIR:?}/media-server/ext-postgresql/.env
    volumes:
      - ./postgres-initdb.d:/docker-entrypoint-initdb.d:ro
      - ${SLOW_VOLUMES:?}/media-server/ext-postgresql/data:/var/lib/postgresql
    networks:
      net-ext-media:
        ipv4_address: 172.18.7.6
    tmpfs:
      - /tmp
      - /var/run/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    labels:
      alloy.enable_logging: "true"

  jellyfin:
    image: jellyfin/jellyfin:10.11.3
    container_name: jellyfin
    user: 1187:65537 # host's `media` <-> container's 65537
    read_only: true
    restart: unless-stopped
    volumes:
      - ${SLOW_VOLUMES:?}/media-server/jellyfin/config:/config
      - ${FAST_VOLUMES:?}/media-server/jellyfin/cache:/cache
      - ${STORAGE_DIR:?}/media-server/media:/media:ro
    networks:
      prom-jellyfin:
        ipv4_address: 172.21.8.3
      net-ext-media:
        ipv4_address: 172.18.7.4
      jellyfin-out:
        ipv4_address: 172.18.7.130
    tmpfs:
      - /tmp
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "Jellyfin"
      homepage.icon: "jellyfin.png"
      homepage.description: "Jellyfin is a free software media system that puts you in control of managing and streaming your media."
      homepage.weight: "100"

  seerr:
    image: fallenbagel/jellyseerr:preview-OIDC
    container_name: seerr
    user: 7187:7187
    read_only: true
    init: true
    restart: unless-stopped
    depends_on:
      - ext-postgresql
      - jellyfin
      - radarr
      - sonarr
    env_file:
      - ${SECRETS_DIR:?}/media-server/seerr/.env
    environment:
      TZ: "Europe/Zurich"
    volumes:
      - ${SLOW_VOLUMES:?}/media-server/seerr/config:/app/config
    networks:
      net-ext-media:
        ipv4_address: 172.18.7.5
      seerr-radarr:
        ipv4_address: 172.19.8.35
      seerr-sonarr:
        ipv4_address: 172.19.8.43
      seerr-out:
        ipv4_address: 172.18.7.134
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "Seerr"
      homepage.icon: "jellyseerr.png"
      homepage.description: "Seerr is a media request and management system for Jellyfin."
      homepage.weight: "150"

  ### External services above ###
  ### Internal services below ###

  int-postgresql:
    image: docker.io/library/postgres:18-alpine
    container_name: media-int-postgresql
    user: 12187:12187
    read_only: true
    restart: unless-stopped
    env_file:
      - ${SECRETS_DIR:?}/media-server/int-postgresql/.env
    volumes:
      - ./postgres-initdb.d:/docker-entrypoint-initdb.d:ro
      - ${SLOW_VOLUMES:?}/media-server/int-postgresql/data:/var/lib/postgresql
    networks:
      net-int-media:
        ipv4_address: 172.19.8.10
    tmpfs:
      - /tmp
      - /var/run/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    labels:
      alloy.enable_logging: "true"

  radarr:
    image: ghcr.io/hotio/radarr:release-6.0.4.10291
    container_name: radarr
    # user: 2187:65537 # set below
    # read_only: true # doesn't work otherwise
    restart: unless-stopped
    depends_on:
      - int-postgresql
      - prowlarr
      - qui
    environment:
      PUID: "2187"
      PGID: "65537" # host's `media` <-> container's 65537
      UMASK: "002"
      TZ: "Europe/Zurich"
    volumes:
      - ${SLOW_VOLUMES:?}/media-server/radarr/config:/config
      - ${STORAGE_DIR:?}/media-server:/data
    networks:
      net-int-media:
        ipv4_address: 172.19.8.4
      seerr-radarr:
        ipv4_address: 172.19.8.34
      radarr-out:
        ipv4_address: 172.19.8.130
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "Radarr"
      homepage.icon: "radarr.png"
      homepage.description: "Radarr is a movie collection manager for Usenet and BitTorrent users."
      homepage.weight: "200"

  sonarr:
    image: ghcr.io/hotio/sonarr:release-4.0.16.2944
    container_name: sonarr
    # user: 9187:65537 # set below
    # read_only: true # doesn't work otherwise
    restart: unless-stopped
    depends_on:
      - int-postgresql
      - prowlarr
      - qui
    environment:
      PUID: "9187"
      PGID: "65537" # host's `media` <-> container's 65537
      UMASK: "002"
      TZ: "Europe/Zurich"
    volumes:
      - ${SLOW_VOLUMES:?}/media-server/sonarr/config:/config
      - ${STORAGE_DIR:?}/media-server:/data
    networks:
      net-int-media:
        ipv4_address: 172.19.8.8
      seerr-sonarr:
        ipv4_address: 172.19.8.42
      sonarr-out:
        ipv4_address: 172.19.8.154
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "Sonarr"
      homepage.icon: "sonarr.png"
      homepage.description: "Sonarr is a TV series collection manager for Usenet and BitTorrent users."
      homepage.weight: "225"

  huntarr:
    image: ghcr.io/plexguide/huntarr:8.2.10
    container_name: huntarr
    user: 10187:10187
    read_only: true
    restart: unless-stopped
    depends_on:
      - radarr
      - sonarr
      - prowlarr
    environment:
      TZ: "Europe/Zurich"
    volumes:
      - ${SLOW_VOLUMES:?}/media-server/huntarr/config:/config
    networks:
      net-int-media:
        ipv4_address: 172.19.8.9
      huntarr-out:
        ipv4_address: 172.19.8.158
    tmpfs:
      - /tmp
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "Huntarr"
      homepage.icon: "huntarr.png"
      homepage.description: "Huntarr continually searches your media libraries for missing content and items that need quality upgrades."
      homepage.weight: "237"

  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:7.5.2
    container_name: recyclarr
    user: 8187:8187
    read_only: true
    restart: unless-stopped
    depends_on:
      - radarr
      - sonarr
    env_file:
      - ${SECRETS_DIR:?}/media-server/recyclarr/.env
    environment:
      TZ: "Europe/Zurich"
    volumes:
      - ${CONFIGS_DIR:?}/media-server/recyclarr:/config
    networks:
      net-int-media:
        ipv4_address: 172.19.8.7
      recyclarr-out:
        ipv4_address: 172.19.8.150
    tmpfs:
      - /tmp
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "Recyclarr"
      homepage.icon: "recyclarr.png"
      homepage.description: "Recyclarr is a tool to update and sync your Radarr and Sonarr custom formats."
      homepage.weight: "250"

  prowlarr:
    image: ghcr.io/hotio/prowlarr:release-2.3.0.5236
    container_name: prowlarr
    # user: 3187:3187 # set below
    # read_only: true # doesn't work otherwise
    restart: unless-stopped
    depends_on:
      - int-postgresql
      - flaresolverr
    environment:
      PUID: "3187"
      PGID: "3187"
      TZ: "Europe/Zurich"
    volumes:
      - ${SLOW_VOLUMES:?}/media-server/prowlarr/config:/config
    networks:
      net-int-media:
        ipv4_address: 172.19.8.5
      prowlarr-flaresolverr:
        ipv4_address: 172.19.8.18
      prowlarr-out:
        ipv4_address: 172.19.8.134
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "Prowlarr"
      homepage.icon: "prowlarr.png"
      homepage.description: "Prowlarr is an indexer manager/proxy for Usenet and BitTorrent indexers."
      homepage.weight: "300"

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:v3.4.6
    container_name: flaresolverr
    # user: 4187:4187 # doesn't work otherwise
    # read_only: true # doesn't work otherwise
    restart: unless-stopped
    environment:
      TZ: "Europe/Zurich"
    networks:
      prowlarr-flaresolverr:
        ipv4_address: 172.19.8.19
      flaresolverr-out:
        ipv4_address: 172.19.8.138
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "FlareSolverr"
      homepage.icon: "flaresolverr.png"
      homepage.description: "FlareSolverr is a proxy server to bypass Cloudflare's anti-bot page using headless browsers."
      homepage.weight: "400"

  qbittorrent:
    image: ghcr.io/hotio/qbittorrent:release-5.1.4
    container_name: qbittorrent
    # user: 5187:65537 # set below
    # read_only: true # doesn't work otherwise
    restart: unless-stopped
    environment:
      PUID: "5187"
      PGID: "65537" # host's `media` <-> container's 65537
      UMASK: "002"
      TZ: "Europe/Zurich"
      ### VPN CONFIGURATION BELOW ###
      VPN_ENABLED: true
      VPN_CONF: wg0
      VPN_PROVIDER: proton
      VPN_LAN_NETWORK: ${LAN_SUBNET:?}
      VPN_LAN_LEAK_ENABLED: false
      VPN_AUTO_PORT_FORWARD: true
      VPN_PORT_REDIRECTS:
      VPN_HEALTHCHECK_ENABLED: true
      VPN_NAMESERVERS:
      PRIVOXY_ENABLED: false
      UNBOUND_ENABLED: false
      UNBOUND_NAMESERVERS:
    cap_add:
      - NET_ADMIN
    sysctls:
      net.ipv4.conf.all.src_valid_mark: 1
      net.ipv6.conf.all.disable_ipv6: 1
    ### VPN CONFIGURATION ABOVE ###
    volumes:
      - ${SLOW_VOLUMES:?}/media-server/qbittorrent/config:/config
      - ${STORAGE_DIR:?}/media-server/torrents:/data/torrents
    networks:
      qui-qbittorrent:
        ipv4_address: 172.19.8.26
      qbittorrent-out:
        ipv4_address: 172.19.8.142
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "qBittorrent"
      homepage.icon: "qbittorrent.png"
      homepage.description: "qBittorrent is a free and reliable P2P BitTorrent client."
      homepage.weight: "500"

  qui:
    image: ghcr.io/autobrr/qui:v1.10.0
    container_name: qui
    user: 6187:6187
    read_only: true
    restart: unless-stopped
    depends_on:
      - qbittorrent
    env_file:
      - ${SECRETS_DIR:?}/media-server/qui/.env
    environment:
      # OIDC-related configuration is set in the .env file
      QUI__OIDC_ENABLED: "true"
    volumes:
      - ${SLOW_VOLUMES:?}/media-server/qui/config:/config
    networks:
      net-int-media:
        ipv4_address: 172.19.8.6
      qui-qbittorrent:
        ipv4_address: 172.19.8.27
      qui-out:
        ipv4_address: 172.19.8.146
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Media"
      homepage.name: "qui"
      homepage.icon: "qui.png"
      homepage.description: "qui is a UI upgrade for managing qBittorrent."
      homepage.weight: "600"



networks:
  prom-jellyfin:
    external: true
  net-ext-media:
    external: true
  net-int-media:
    external: true
  seerr-radarr:
    internal: true
    ipam:
      config:
        - subnet: 172.19.8.32/29
          gateway: 172.19.8.33
  seerr-sonarr:
    internal: true
    ipam:
      config:
        - subnet: 172.19.8.40/29
          gateway: 172.19.8.41
  prowlarr-flaresolverr:
    internal: true
    ipam:
      config:
        - subnet: 172.19.8.16/29
          gateway: 172.19.8.17
  qui-qbittorrent:
    internal: true
    ipam:
      config:
        - subnet: 172.19.8.24/29
          gateway: 172.19.8.25
  jellyfin-out:
    ipam:
      config:
        - subnet: 172.18.7.128/30
          gateway: 172.18.7.129
  seerr-out:
    ipam:
      config:
        - subnet: 172.18.7.132/30
          gateway: 172.18.7.133
  radarr-out:
    ipam:
      config:
        - subnet: 172.19.8.128/30
          gateway: 172.19.8.129
  sonarr-out:
    ipam:
      config:
        - subnet: 172.19.8.152/30
          gateway: 172.19.8.153
  recyclarr-out:
    ipam:
      config:
        - subnet: 172.19.8.148/30
          gateway: 172.19.8.149
  prowlarr-out:
    ipam:
      config:
        - subnet: 172.19.8.132/30
          gateway: 172.19.8.133
  flaresolverr-out:
    ipam:
      config:
        - subnet: 172.19.8.136/30
          gateway: 172.19.8.137
  qbittorrent-out:
    ipam:
      config:
        - subnet: 172.19.8.140/30
          gateway: 172.19.8.141
  qui-out:
    ipam:
      config:
        - subnet: 172.19.8.144/30
          gateway: 172.19.8.145
  huntarr-out:
    ipam:
      config:
        - subnet: 172.19.8.156/30
          gateway: 172.19.8.157
