include:
  - networks.yml

  - services/ext-postgresql.yml
  - services/jellyfin.yml
  - services/seerr.yml
  - services/int-postgresql.yml
  - services/radarr.yml
  - services/sonarr.yml
  - services/huntarr.yml
  - services/recyclarr.yml
  - services/unpackerr.yml
  - services/bazarr.yml
  - services/prowlarr.yml
  - services/qbittorrent.yml
  - services/autobrr.yml
  - services/scraparr.yml
