{
    log {
        output net int-tele-bot:5000 {
            soft_start
        }
    }

    metrics {
        per_host
    }

    admin 172.21.3.3:2019 {
        origins int-proxy:2019
    }

    acme_dns infomaniak {$INFOMANIAK_API_TOKEN}
}

import caddy-configs/*

home.{$MY_DOMAIN} {
    import security
    import error-handling

    log
    encode

    import csp {
        vars {
            csp-style-src "'self' 'unsafe-inline'"
            csp-img-src "'self' https://cdn.jsdelivr.net/"
        }
    }

    reverse_proxy /api* int-homepage:3000

    reverse_proxy int-homepage:3000 {
        import forward-proxy-error
    }
}

pihole.{$MY_DOMAIN} {
    import security
    import error-handling

    log
    encode

    route {
        import authenticate

        import csp {
            vars ignore me
        }

        redir /favicon.ico /admin/img/favicons/favicon.ico

        redir / /admin/

        reverse_proxy /api* pihole

        reverse_proxy pihole {
            import forward-proxy-error
        }
    }
}

grafana.{$MY_DOMAIN} {
    import security
    import error-handling

    log
    encode

    route {
        import authenticate

        import csp {
            vars {
                csp-script-src "'self' 'unsafe-inline'"
                csp-style-src "'self' 'unsafe-inline'"
            }
        }

        redir /favicon.ico /public/img/fav32.png

        reverse_proxy /api* grafana:3000

        reverse_proxy grafana:3000 {
            import forward-proxy-error
        }
    }
}
