{
    log {
        output net int-tele-bot:5000 {
            soft_start
        }
    }

    metrics {
        per_host
    }

    admin 172.21.3.3:2019 {
        origins int-proxy:2019
    }

    acme_dns infomaniak {env.INFOMANIAK_API_TOKEN}
}

import ../utils/caddy/snippets

home.{$MY_DOMAIN} {
    import headers-and-error-handling

    log
    encode

    reverse_proxy /api* int-homepage:3000

    reverse_proxy int-homepage:3000 {
        import handle-proxy-error
    }
}

pihole.{$MY_DOMAIN} {
    import headers-and-error-handling

    log
    encode

    redir /favicon.ico /admin/img/favicons/favicon.ico

    redir / /admin/ permanent

    reverse_proxy /api* pihole

    reverse_proxy pihole {
        import handle-proxy-error
    }
}

grafana.{$MY_DOMAIN} {
    import headers-and-error-handling

    log
    encode

    redir /favicon.ico /public/img/fav32.png

    @api_or_login path /login /api*
    reverse_proxy @api_or_login grafana:3000

    reverse_proxy grafana:3000 {
        import handle-proxy-error
    }
}
