{
    log {
        output net int-tele-bot:5000 {
            soft_start
        }
    }

    metrics {
        per_host
    }

    admin 172.19.2.2:2019 172.21.3.3:2019 {
        origins int-proxy:2019
    }

    acme_dns infomaniak {env.INFOMANIAK_API_TOKEN}
}

(handle-error) {
    root /errors

    handle_errors {
        @custom_err file /{err.status_code}.html /default.html
        handle @custom_err {
            rewrite * {file_match.relative}
            file_server
        }

        respond {err.status_text} {err.status_code}
    }
}

(handle-proxy-error) {
    @error status 3xx 4xx 5xx
    handle_response @error {
        copy_response_headers {
            include Location WWW-Authenticate
        }

        error {rp.status_text} {rp.status_code}
    }
}

(sec-headers) {
    header {
        # disable FLoC tracking
        Permissions-Policy interest-cohort=()

        # enable HSTS
        Strict-Transport-Security max-age=31536000;

        # disable clients from sniffing the media type
        X-Content-Type-Options nosniff

        # clickjacking protection
        X-Frame-Options DENY
    }
}

home.{$MY_DOMAIN} {
    import handle-error
    import sec-headers

    log
    encode

    redir /favicon.ico /icons/favicon.png

    reverse_proxy /api* int-homepage:3000

    reverse_proxy int-homepage:3000 {
        import handle-proxy-error
    }
}

pihole.{$MY_DOMAIN} {
    import handle-error
    import sec-headers

    log
    encode

    redir /favicon.ico /admin/img/favicons/favicon.ico

    redir / /admin/ permanent

    reverse_proxy /api* pihole {
        header_down -X-Content-Type-Options
        header_down -X-Frame-Options
    }

    reverse_proxy pihole {
        header_down -X-Content-Type-Options
        header_down -X-Frame-Options

        import handle-proxy-error
    }
}

grafana.{$MY_DOMAIN} {
    import handle-error
    import sec-headers

    log
    encode

    redir /favicon.ico /public/img/fav32.png

    @api_or_login path /login /api*
    reverse_proxy @api_or_login grafana:3000 {
        header_down -X-Content-Type-Options
        header_down -X-Frame-Options
    }

    reverse_proxy grafana:3000 {
        header_down -X-Content-Type-Options
        header_down -X-Frame-Options

        import handle-proxy-error
    }
}
