{
    acme_dns infomaniak {$INFOMANIAK_API_TOKEN}

    servers {
        listener_wrappers {
            proxy_protocol {
                allow {$OPNSENSE_SUBNET_IP}/32
                fallback_policy require
            }
            tls
        }
    }
}

import /etc/caddy-configs/*

# Required to apply the `proxy_protocol` `listener_wrapper` (https://github.com/caddyserver/caddy/issues/5602#issuecomment-1611421901)
http:// {
}

(shadow-domains) {
    {args[0]}, auth.{args[0]}, dabloon.{args[0]}, tv.{args[0]}, requests.tv.{args[0]}, drive.{args[0]}, wopi.{args[0]}, office.{args[0]} {
        redir https://status.{$MY_DOMAIN} 303
    }
}
import shadow-domains {$MY_DOMAIN}
import shadow-domains dev.{$MY_DOMAIN}

status.{$MY_DOMAIN} {
    import security
    import no-crawl-no-index
    import error-handling

    log
    encode

    route {
        import csp {
            vars {
                csp-default-src "'self' auth.{$PROD_DOMAIN}"
                csp-frame-ancestors "'self'"
                csp-script-src "'self' auth.{$PROD_DOMAIN} 'unsafe-inline' 'unsafe-eval'"
                csp-style-src "'self' auth.{$PROD_DOMAIN} 'unsafe-inline'"
                csp-img-src "'self' data:"
                csp-font-src "'self' https://cdn.jsdelivr.net/"
            }
        }

        reverse_proxy uptime:3001 {
            import forward-proxy-error
        }
    }
}

