services:
  loki:
    image: grafana/loki:3.5.8
    command:
      - "-config.file=/etc/loki/config.yml"
    container_name: loki
    user: 1197:1197
    read_only: true
    restart: unless-stopped
    volumes:
      - ./loki-config.yml:/etc/loki/config.yml:ro
      - ${SLOW_VOLUMES:?}/loki/data:/loki
    networks:
      net-loki:
        ipv4_address: 172.19.7.2
      alloy-loki:
        ipv4_address: 172.19.7.66
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Monitoring"
      homepage.name: "Loki"
      homepage.icon: "loki.png"
      homepage.description: "Centralized log aggregation system."
      homepage.weight: "3"

  alloy:
    image: grafana/alloy:v1.11.3
    container_name: alloy
    # user: 2197:2197 # Can't run without it
    read_only: true
    restart: unless-stopped
    depends_on:
      loki:
        condition: service_healthy
    volumes:
      - ./config.alloy:/etc/alloy/config.alloy:ro
      - /run/rootlesskit/docker.socket:/var/run/docker.sock:ro
    networks:
      alloy-loki:
        ipv4_address: 172.19.7.67
    tmpfs:
      - /var/lib/alloy/data
    labels:
      alloy.enable_logging: "true"
      homepage.group: "Monitoring"
      homepage.name: "Alloy"
      homepage.icon: "alloy.png"
      homepage.description: "Log collection agent for Loki."
      homepage.weight: "4"

networks:
  net-loki:
    external: true
  alloy-loki:
    internal: true
    ipam:
      config:
        - subnet: 172.19.7.64/26
