{
    log loki {
        format json {
            time_format iso8601
        }
    }

    log telegram {
        output net ext-tele-bot:5000 {
            soft_start
        }

        include http.log.access
    }

    metrics {
        per_host
    }

    admin 172.21.2.3:2019 {
        origins 172.21.2.3:2019 ext-proxy:2019
    }

    servers {
        listener_wrappers {
            proxy_protocol {
                allow {$OPNSENSE_SUBNET_IP}/32
                fallback_policy require
            }
            tls
        }

        trusted_proxies dns {
            host {$MY_DOMAIN}
            interval 5m
        }
    }
}

import /etc/caddy-configs/*
import /etc/caddy/Caddyfile-chore

{$MY_DOMAIN} {
    import security
    import error-handling

    log
    encode

    import csp {
        vars {
            csp-style-src "'self' 'unsafe-inline'"
            csp-img-src "'self' https://cdn.jsdelivr.net/"
        }
    }

    reverse_proxy /api* ext-homepage:3000

    reverse_proxy ext-homepage:3000 {
        import forward-proxy-error
    }
}

auth.{$MY_DOMAIN} {
    import security
    import no-crawl-no-index
    import error-handling

    log
    encode

    route {
        import csp {
            vars {
                csp-script-src "'self' 'unsafe-inline'"
                csp-style-src "'self' 'unsafe-inline'"
                csp-img-src "'self' data:"
            }
        }

        redir /favicon.ico /static/dist/assets/icons/icon.png

        reverse_proxy authentik-server:9000
    }
}

dabloon.{$MY_DOMAIN} {
    import security
    import no-crawl-no-index
    import error-handling

    log
    encode

    route {
        import authenticate {
            vars ignore me
        }

        import csp {
            vars {
                csp-default-src "'self' 'auth.{$MY_DOMAIN}'"
                csp-script-src "'self' 'auth.{$MY_DOMAIN}' 'unsafe-inline' 'unsafe-eval'"
                csp-style-src "'self' 'auth.{$MY_DOMAIN}' 'unsafe-inline'"
            }
        }

        reverse_proxy dabloon {
            header_down -Server

            import forward-proxy-error
        }
    }
}

tv.{$MY_DOMAIN} {
    header >X-Frame-Options SAMEORIGIN

    import security
    import no-crawl-no-index
    import error-handling

    log
    encode

    route {
        import csp {
            vars {
                csp-form-action "'self' auth.{$MY_DOMAIN}"
                csp-frame-ancestors "'self'"
                csp-script-src "'self' blob: 'unsafe-inline'"
                csp-style-src "'self' 'unsafe-inline'"
                csp-img-src "'self' data: https://cdn.jsdelivr.net/"
                csp-media-src "'self' blob:"
            }
        }

        # Prometheus reaches the endpoint by bypassing Caddy
        error /metrics 403

        reverse_proxy jellyfin:8096 {
            import forward-proxy-error
        }
    }
}

requests.tv.{$MY_DOMAIN} {
    header -Cross-Origin-Embedder-Policy

    import security
    import no-crawl-no-index
    import error-handling

    log
    encode

    route {
        import csp {
            vars {
                csp-style-src "'self' 'unsafe-inline'"
                csp-img-src "'self' data: image.tmdb.org gravatar.com"
                csp-font-src "'self' fonts.gstatic.com"
            }
        }

        reverse_proxy seerr:5055 {
            import forward-proxy-error
        }
    }
}
