{
    log {
        output net ext-tele-bot:5000 {
            soft_start
        }
    }

    metrics {
        per_host
    }

    admin 172.21.2.3:2019 {
        origins ext-proxy:2019
    }
}

import caddy-configs/*

{$MY_DOMAIN} {
    import security-headers
    import error-handling

    log
    encode

    reverse_proxy /api* ext-homepage:3000

    reverse_proxy ext-homepage:3000 {
        import forward-proxy-error
    }
}

www.{$MY_DOMAIN} {
    import security-headers
    import error-handling
    import no-crawl-no-index

    redir https://{$MY_DOMAIN}{uri} permanent
}

auth.{$MY_DOMAIN} {
    import security-headers
    import error-handling
    import no-crawl-no-index

    log
    encode

    redir /favicon.ico /static/dist/assets/icons/icon.png

    reverse_proxy authentik-server:9000
}

dabloon.{$MY_DOMAIN} {
    import security-headers
    import error-handling
    import no-crawl-no-index

    log
    encode

    route {
        import authenticate

        reverse_proxy dabloon {
            header_down -Server

            import forward-proxy-error
        }
    }
}

vpn.{$MY_DOMAIN} {
    import security-headers
    import error-handling
    import no-crawl-no-index

    redir https://{$MY_DOMAIN} permanent
}

mta-sts.{$MY_DOMAIN} {
    import security-headers
    import error-handling
    import no-crawl-no-index

    log

    route {
        respond /.well-known/mta-sts.txt <<EOF
            version: STSv1
            mode: enforce
            mx: mailserver.purelymail.com
            max_age: 86400

            EOF 200

        error 404
    }
}

csp-reports.{$MY_DOMAIN} {
    import security-headers
    import error-handling
    import no-crawl-no-index

    log

    @new-report {
        path /
        method POST
    }
    handle @new-report {
        log_append report {http.request.body}
        respond 200
    }

    @wrong-method not method POST
    handle @wrong-method {
        error 405
    }

    # Wrong path (i.e., not /)
    error 404
}
