{
    log {
        output net ext-tele-bot:5000 {
            soft_start
        }
    }
}

(sec-headers) {
    header {
        # disable FLoC tracking
        Permissions-Policy interest-cohort=()

        # enable HSTS
        Strict-Transport-Security max-age=31536000;

        # disable clients from sniffing the media type
        X-Content-Type-Options nosniff

        # clickjacking protection
        X-Frame-Options DENY
    }
}

dabloon.{$MY_DOMAIN} {
    import sec-headers

    log
    encode

    reverse_proxy dabloon {
        header_down -Server
    }
}

{$MY_DOMAIN} {
    import sec-headers

    log
    encode

    reverse_proxy ext-homepage:3000
}

vpn.{$MY_DOMAIN} {
    respond "" 204
}
