{
    log {
        output net ext-tele-bot:5000 {
            soft_start
        }
    }

    metrics {
        per_host
    }

    admin 172.21.2.3:2019 {
        origins ext-proxy:2019
    }
}

import caddy-configs/*

{$MY_DOMAIN} {
    import headers-and-error-handling

    log
    encode

    reverse_proxy /api* ext-homepage:3000

    reverse_proxy ext-homepage:3000 {
        import handle-proxy-error
    }
}

www.{$MY_DOMAIN} {
    import headers-and-error-handling {
        >X-Robots-Tag "noindex, nofollow"
    }

    redir https://{$MY_DOMAIN} permanent
}

auth.{$MY_DOMAIN} {
    import headers-and-error-handling

    log
    encode

    reverse_proxy authentik-server:9000
}

dabloon.{$MY_DOMAIN} {
    import headers-and-error-handling {
        >X-Robots-Tag "noindex, nofollow"
    }

    log
    encode

    route {
        reverse_proxy /outpost.goauthentik.io/* authentik-server:9000

        forward_auth authentik-server:9000 {
            uri /outpost.goauthentik.io/auth/caddy

            copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
        }

        reverse_proxy dabloon {
            header_down -Server

            import handle-proxy-error
        }
    }
}

vpn.{$MY_DOMAIN} {
    import headers-and-error-handling {
        >X-Robots-Tag "noindex, nofollow"
    }

    redir https://{$MY_DOMAIN} permanent
}
