{
    log loki {
        format json {
            time_format iso8601
        }
    }

    log telegram {
        output net int-tele-bot:5000 {
            soft_start
        }

        include http.log.access
    }

    metrics {
        per_host
    }

    admin 172.21.3.3:2019 {
        origins 172.21.3.3:2019 int-proxy:2019
    }

    acme_dns infomaniak {$INFOMANIAK_API_TOKEN}
}

import /etc/caddy-configs/*

home.{$MY_DOMAIN} {
    import security
    import error-handling

    log
    encode

    import csp {
        vars {
            csp-style-src "'self' 'unsafe-inline'"
            csp-img-src "'self' https://cdn.jsdelivr.net/"
        }
    }

    reverse_proxy /api* int-homepage:3000

    reverse_proxy int-homepage:3000 {
        import forward-proxy-error
    }
}

pihole.{$MY_DOMAIN} {
    import security
    import error-handling

    log
    encode

    route {
        import authenticate {
            vars ignore me
        }

        import csp {
            vars ignore me
        }

        redir /favicon.ico /admin/img/favicons/favicon.ico

        redir / /admin/

        reverse_proxy /api* pihole

        reverse_proxy pihole {
            import forward-proxy-error
        }
    }
}

grafana.{$MY_DOMAIN} {
    import security
    import error-handling

    log
    encode

    route {
        import authenticate {
            vars auth-username true
            vars auth-email true
            vars auth-name true
        }

        import csp {
            vars {
                csp-script-src "'self' 'unsafe-inline' 'unsafe-eval'"
                csp-style-src "'self' 'unsafe-inline'"
            }
        }

        redir /favicon.ico /public/img/fav32.png

        reverse_proxy /api* grafana:3000

        reverse_proxy grafana:3000 {
            import forward-proxy-error
        }
    }
}

radarr.{$MY_DOMAIN} {
    header -Cross-Origin-Embedder-Policy

    import security
    import error-handling

    log
    encode

    route {
        import authenticate {
            vars ignore me
        }

        import csp {
            vars {
                csp-script-src "'self' 'unsafe-inline'"
                csp-style-src "'self' 'unsafe-inline'"
                csp-img-src "'self' data: image.tmdb.org"
                csp-font-src "'self' data:"
            }
        }

        reverse_proxy radarr:7878 {
            import forward-proxy-error
        }
    }
}

prowlarr.{$MY_DOMAIN} {
    import security
    import error-handling

    log
    encode

    route {
        import authenticate {
            vars ignore me
        }

        import csp {
            vars {
                csp-script-src "'self' 'unsafe-inline'"
                csp-style-src "'self' 'unsafe-inline'"
                csp-img-src "'self' data:"
            }
        }

        reverse_proxy prowlarr:9696 {
            import forward-proxy-error
        }
    }
}

torrents.{$MY_DOMAIN} {
    import security
    import error-handling

    log
    encode

    route {
        import csp {
            vars {
                csp-script-src "'self' 'unsafe-inline'"
                csp-style-src "'self' fonts.googleapis.com 'unsafe-inline'"
                csp-img-src "'self' data:"
                csp-font-src "'self' fonts.gstatic.com"
            }
        }

        reverse_proxy qui:7476 {
            import forward-proxy-error
        }
    }
}
